.bolder
    font-weight: 900
    font-size: 115%
.about-me
    position: absolute
    top: 7vh
    width: 100vw
    display: flex
    flex-direction: column
    justify-content: center
    background-color: #eee0a1
    @media only screen and (min-width: 1024px)
        position: absolute
        top: 4vh
        
    .welcome
        display: flex
        align-self: center
        justify-content: center
        margin-bottom: 3%
        @media only screen and (max-width: 1023px)
            flex-direction: column
            display: flex
            align-items: center
        &__image
            border: 1px solid
            background-color: whitesmoke
            @media only screen and (max-width: 1023px)
                height: 200px
                object-fit: contain
                border-radius: 1rem
                margin-top: 3%
            @media only screen and (min-width: 1024px)
                min-width: 30vw
                max-height: 80vh
                border-radius: 3rem
                margin-left: 1.5%
                margin-top: 6%
        .info
            width: 62%
            padding: 2%
            border: solid 1px
            border-radius: 2rem
            letter-spacing: 1px
            margin-top: 6%
            margin-left: 2%
            background-color: #fafafa
            display: flex
            flex-direction: column
            justify-content: space-evenly
            @media only screen and (max-width: 1023px)
                width: 95%
                margin-top: 5%
                margin-left: 0
                margin-bottom: 5%
                padding: 3%
                display: flex
                flex-direction: column
                justify-content: space-evenly
            &__title
                @media only screen and (max-width: 1023px)
                    font-size: 120%
                    font-family: 'Acme', sans-serif
                    display: flex
                    justify-content: center
                    margin-bottom: -4%
                @media only screen and (min-width: 1024px)
                    font-size: 220%
                    font-family: 'Acme', sans-serif
                    color: black
                    margin-bottom: 1%
    
            &__text
                @media only screen and (max-width: 1023px)
                    font-size: 53%
                    line-height: 14px
                    padding: 1%
                @media only screen and (min-width: 1024px)
                    line-height: 25px
                    font-size: 80%
                @media only screen and (min-width: 1400px)
                    line-height: 35px
                    font-size: 115%
