.bolder
    font-weight: 900
    font-size: 115%
.about-me
    position: relative
    top: 13vh
    width: 100vw
    @media only screen and (max-width: 1023px)
        top: 15vh
    .welcome
        display: flex
        @media only screen and (max-width: 1023px)
            flex-direction: column
            display: flex
            align-items: center
        @media only screen and (min-width: 1024px)
            flex-direction: row
        &__image
            @media only screen and (max-width: 1023px)
                height: 200px
                object-fit: contain
                border-radius: 1rem
                margin-top: 2%
            @media only screen and (min-width: 1024px)
                min-width: 35vw
                max-height: 87vh
                border-radius: 3rem
                padding: 2%
        .info
            width: 100%
            padding: 3%
            align-self: flex-start
            letter-spacing: 1px
            &__title
                @media only screen and (max-width: 1023px)
                    font-size: 130%
                    font-family: 'Acme', sans-serif
                    display: flex
                    justify-content: center
                    padding: 1%
                @media only screen and (min-width: 1024px)
                    font-size: 180%
                    font-family: 'Acme', sans-serif
                    color: black
                    margin-top: -1%
            &__text
                @media only screen and (max-width: 1023px)
                    font-size: 60%
                    line-height: 15px
                    margin-top: -1%
                    padding: 1%
                @media only screen and (min-width: 1024px)
                    line-height: 25px
                    
                    