.projects-nav
    @media only screen and (max-width: 1023px)
        position: absolute
        overflow-x: auto
        display: flex
        flex-direction: column
        top: 12vh
        left: 2vw
        z-index: 100
        width: 95vw
        height: 87%
        justify-content: space-around
        align-items: center
        font-size: 105%
        font-weight: bold
    @media only screen and (min-width: 1024px)
        position: absolute
        overflow: auto
        top: 11.5vh
        left: 2vw
        z-index: 100
        width: 95%
        height: 88%
        display: flex
        flex-direction: column
        justify-content: space-around
        align-items: center
        font-size: 175%
        font-weight: bold
    .nav-menu
        height: 20vh
        width: 90vw
        background-color: #e5eaf0
        border: 2px solid steelblue
        cursor: pointer
        &__item-container1
            height: 15vh
            width: 90vw
            border: 3px solid black
            cursor: pointer
            background: url("/img/time2padel-bg.jpg")
            background-repeat: no-repeat
            background-size: cover
        &__item1
            height: 100%
            display: flex
            justify-content: center
            align-items: center
            -webkit-text-stroke: 2px black
            color: #f4e32d
            font-family: 'Baloo Bhai'
            font-size: 200%
            text-decoration: none
            &:hover
                cursor: pointer
                transform: scale(1.1) perspective(1px)

        &__item-container2
            height: 15vh
            width: 90vw
            border: 3px solid black
            cursor: pointer
            background: url("/img/beer-bg.jpg")
            background-repeat: no-repeat
            background-size: cover
        &__item2
            height: 100%
            display: flex
            justify-content: center
            align-items: center
            -webkit-text-stroke: 2px black
            color: #eca114
            font-family: 'Baloo Bhai'
            font-size: 200%
            text-decoration: none
            &:hover
                cursor: pointer
                transform: scale(1.1) perspective(1px)

        &__item-container3
            height: 15vh
            width: 90vw
            border: 3px solid black
            cursor: pointer
            background: url("/img/portfolio-bg.jpg")
            background-repeat: no-repeat
            background-size: cover
        &__item3
            height: 100%
            display: flex
            justify-content: center
            align-items: center
            -webkit-text-stroke: 2px black
            color: #1f77b9
            font-family: 'Baloo Bhai'
            font-size: 200%
            text-decoration: none
            &:hover
                cursor: pointer
                transform: scale(1.1) perspective(1px)

        &__item-container4
            height: 15vh
            width: 90vw
            border: 3px solid black
            cursor: pointer
            background: url("/img/gnomeworld-bg.png")
            background-repeat: no-repeat
            background-size: cover
        &__item4
            height: 100%
            display: flex
            justify-content: center
            align-items: center
            -webkit-text-stroke: 2px black
            color: #1ee9f0
            font-family: 'Baloo Bhai'
            font-size: 200%
            text-decoration: none
            &:hover
                cursor: pointer
                transform: scale(1.1) perspective(1px)

        &__item-container5
            height: 15vh
            width: 90vw
            border: 3px solid black
            cursor: pointer
            background: url("/img/gnomeworld-bg.png")
            background-repeat: no-repeat
            background-size: cover
        &__item5
            height: 100%
            display: flex
            justify-content: center
            align-items: center
            -webkit-text-stroke: 2px black
            color: #aa0294
            font-family: 'Baloo Bhai'
            font-size: 200%
            text-decoration: none
            &:hover
                cursor: pointer
                transform: scale(1.1) perspective(1px)