#show-menu
    display: none

#close
    position: absolute
    top: 28px
    left: 55px
    @media only screen and (max-width: 1023px)
        top: 18px
        left: 30px

.nav
    position: fixed
    z-index: 1000
    width: 100%
    height: 12vh
    display: flex
    justify-content: space-between
    align-items: center
    background-color: #eee0a1
    font-weight: bold
    @media only screen and (max-width: 1023px)
        font-size: 100%
        height: 8vh
    @media only screen and (min-width: 1024px)
        font-size: 135%

.nav-menu
    &__hamburguer-icon
        display: flex
        flex-direction: column
        justify-content: center
        cursor: pointer
        width: 20%
        align-items: center
        @media only screen and (min-width: 1024px)
            width: 11%
        &:hover
            cursor: pointer
.fas
    font-size: 140%

.menu-show
    display: flex
    position: absolute
    top: 0
    height: 100vh
    width: 100vw
    background-color: white
    cursor: pointer
    color: black

.menu-hide
    display: none

.menu_list
    flex-direction: column
    justify-content: space-around


.list
    display: flex
    flex-direction: column
    width: 100%
    justify-content: center
    align-items: center
    list-style: none
    cursor: pointer
    background-color: #eee0a1
    border: none
    &__item
        color: black
        font-size: 150%
        font-family: 'Acme', sans-serif
        padding: 2rem
        &:hover
            cursor: pointer
            transform: scale(1.1) perspective(1px)


.socialmedia
    width: 16%
    padding: 1%
    align-self: center
    display: flex
    justify-content: space-evenly
    @media only screen and (max-width: 1023px)
        width: 33%
    &__info
        height: 50%
        display: flex
        flex-direction: column
        justify-content: center
    &__icon
        max-width: 8vw
        max-height: 6vh
        margin: 0.5%
        @media only screen and (max-width: 1023px)
            max-width: 8vw
            max-height: 4vh
        &:hover
            cursor: pointer
            transform: scale(1.1) perspective(1px)
